#note {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  user-select: none;
  transition: color 0.08s, transform 0.08s;
}

#note.correct {
  color: var(--color-correct);
  transform: scale(1.1);
}
